{% extends 'base.html'  %}

{%block title%}

<title>Feed</title>

{%endblock%}


{% block content %}

<div class="container p-3 col-5">	

	{% for note in notes %}

		<div>
			<p class="text-right text-dark">{{ note.datePublished }}</p>
		</div>

		<div class="float-right">
			<form method="post">
				{%csrf_token%}

				<a class="button btn btn-sm btn-outline-warning btn-right" href="{% url "edit" note.id %}">Редактировать</a>
				<a class="button btn btn-sm btn-outline-danger btn-right" href="{% url "delete" note.id %}">Удалить</a>

			</form>
		</div>

		<div class="form-group">
			<label>Заголовок</label>
			<label class="form-control border-0 color-white" readonly>{{ note.noteName }}</label>
		</div>

		<div class="form-group">
			<label>Описание</label>
			<textarea class="form-control color-white" rows="3" readonly>{{ note.noteText }}</textarea>
		</div>

		<div class="row">
			<div class="tags-area col-auto mr-auto">
				<p class="">{{note.noteTags}}</p>
			</div>

			<div class="col-lg-3 col-auto ">
				<p style="color: gray;">Просмотры {{note.noteCounter}}</p>
			</div>	
		</div>

	{%endfor%}
 </div>



{%endblock%}